///*------------------------------------------------------------
//    #COLORS
//-------------------------------------------------------------*/



$color-map: (
	primary		:	#c33400,
	secondary	:	#333333,
	tertiary	:	#444444,
	grey-1		:	#666666,
	grey-2		:   #e9e9e9,
	grey-3		:   #f8f8f8,
	grey-4  	:   #dddddd,
	grey-5		:	#efefef,
	b-grey-1	:	#c9c6c6,
	white 	  :   #ffffff,
	black     :   #000000
);

