// ==============================================
//      # PERCENTAGE
// ==============================================

@function percentage($elemPixels,$totalPixels){
	@return unquote(($elemPixels*100)/$totalPixels+"%")
}
