/*------------------------------------------------------------------------
    #ACCESSIBLE
-------------------------------------------------------------------------*/

.hideAccessible {
	position: absolute;
	right: 9999rem;
}
