///*----------------------------------------------
//   # ce__box
//------------------------------------------------*/

.#{$wf__ns}box {
    padding: rem(15);
    width: 150px;
    height: 150px;
    background-color: darkred;
    margin:auto;
}
