///*-------------------------------------------------------------------------
//   # FRONT MODULES CONFIG
//--------------------------------------------------------------------------*/

//	CONTENT THIS FILE:
//		# IMPORT FILE CONFIG SCSS
//      # SETTINGS
//		# TOOLS
//      # GENERIC
//		# BASE
//		# OBJETCS
//      # COMPONENTS
//      # TRUMPS






///*--------------------------------------------------------
//    # IMPORT FILE CONFIG SCSS
//----------------------------------------------------------*/
@import '_config__project';





///*--------------------------------------------------------
//    # SETTINGS
//----------------------------------------------------------*/
@import '00-settings/_settings__*';






///*----------------------------------------------------------
//    # TOOLS
//----------------------------------------------------------*/
@import '01-tools/_tools__*';





// /*----------------------------------------------------------
//     # GENERIC
// ----------------------------------------------------------*/
@import "02-generic/_generic__*";





// /*----------------------------------------------------------
//     # BASE
// ----------------------------------------------------------*/
@import '03-elements/_elements__*';




// /*----------------------------------------------------------
//     # OBJETCS
// ----------------------------------------------------------*/
@import '04-objects/_objects__*';



// /*----------------------------------------------------------
//     # COMPONENTS
// ----------------------------------------------------------*/
@import '05-components/_*';



// /*----------------------------------------------------------
//     # TRUMPS
// ----------------------------------------------------------*/
@import '06-trumps/_trumps__*';
