///*-------------------------------------------------------------------------
//   # FRONT MODULES CONFIG
//--------------------------------------------------------------------------*/

//	CONTENT THIS FILE:
//		# IMPORT FILE CONFIG SCSS
//      # SETTINGS
//		# TOOLS
//      # GENERIC
//		# BASE
//		# OBJECTS
//      # COMPONENTS
//      # TRUMPS






///*--------------------------------------------------------
//    # IMPORT FILE CONFIG SCSS
//----------------------------------------------------------*/
@import '_config.project';





///*--------------------------------------------------------
//    # SETTINGS
//----------------------------------------------------------*/
@import '00-settings/_settings.colors';
@import '00-settings/_settings.grid';
@import '00-settings/_settings.responsive';
@import '00-settings/_settings.z-index';






///*----------------------------------------------------------
//    # TOOLS
//----------------------------------------------------------*/
@import '01-tools/_tools.colors';
@import '01-tools/_tools.fonts';
@import '01-tools/_tools.percentage';
@import '01-tools/_tools.pixel-to-em';
@import '01-tools/_tools.pixel-to-rem';
@import '01-tools/_tools.responsive';
@import '01-tools/_tools.z-index';





// /*----------------------------------------------------------
//     # GENERIC
// ----------------------------------------------------------*/
@import "02-generic/_generic.reset";
@import "02-generic/_generic.box-sizing";
@import "02-generic/_generic.clearfix";
@import "02-generic/_generic.fonts";
@import "02-generic/_generic.invisibility";






// /*----------------------------------------------------------
//     # BASE
// ----------------------------------------------------------*/
@import '03-elements/_element.body';
@import '03-elements/_element.heading';
@import '03-elements/_element.html';
@import '03-elements/_element.image';
@import '03-elements/_element.lists';




// /*----------------------------------------------------------
//     # OBJETCS
// ----------------------------------------------------------*/
@import '04-objects/_objects.avatar';
@import '04-objects/_objects.layout';
@import '04-objects/_objects.list';
@import '04-objects/_objects.nora';
@import '04-objects/_objects.unit';
@import '04-objects/_objects.wrapper';
@import '04-objects/_objects.debug';




// /*----------------------------------------------------------
//     # COMPONENTS
// ----------------------------------------------------------*/
@import '05-components/_component.box';



// /*----------------------------------------------------------
//     # TRUMPS
// ----------------------------------------------------------*/
@import '06-trumps/_trumps.float';
@import '06-trumps/_trumps.font-size';
@import '06-trumps/_trumps.hide';
@import '06-trumps/_trumps.margin';
@import '06-trumps/_trumps.padding';
@import '06-trumps/_trumps.position';
@import '06-trumps/_trumps.text-align';
@import '06-trumps/_trumps.text-transform';
